@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Texturina:wght@600&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-width: 390px;
}

#header {
    position: relative;
    text-align: center;
}

.layer {
    background-color: rgba(0, 0, 20, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header img {
    display: block;
    width: 100%;
    margin: auto;
    height: 350px;
    opacity: 0.4;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

#header .centered h1 {
    font-size: 45px;
    margin-bottom: 18px;
    color: white;
}

#header .centered span {
    font-size: 18px;
    color: white;
}

#header .centered span a {
    color: white;
    text-decoration: none;
}

#header .centered span a:hover {
    color: crimson;
}

#section1 {
    margin: 30px auto;
    width: 60%;
    padding: 20px;
}

#section1 h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Texturina', serif;
}

#section1 p {
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#section2 {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

#section2 .centered {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section2 #banner1 {
    display: block;
    width: 100%;
    height: 98vh;
    opacity: 0.4;
}

#section2 .container .row .col {
    padding-bottom: 30px;
}

#section2 .container .row .col h1 {
    padding-top: 10px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#section2 .container .row .col h2 {
    font-size: 30px;
    font-family: 'Texturina', serif;
    color: white;
    margin-top: -15px;
}

#section3 {
    margin: 30px auto;
    padding: 20px;
}

#section3 h1 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Texturina', serif;
}

#section3 .container .row .col .article {
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
    border: black 2px solid;
    box-shadow: 2px 2px 10px grey;
}

#section3 .container .row .col .article img {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
}

#section3 .container .row .col .article .article-body {
    text-align: center;
    padding: 20px;
}

#section3 .container .row .col .article .article-body h5 {
    font-weight: 100;
    font-size: 30px;
    font-family: 'Texturina', serif;
    padding-bottom: 20px;
}

#section3 .container .row .col .article .article-body p {
    line-height: 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:994px) {
    #section3 .container .row .col .article {
        height: 365px;
    }
}

@media(max-width:430px) {
    #section3 .container .row .col .article {
        height: 390px;
    }
}